<div class="dropdown ticket-select-status">
  <button
    class="btn dropdown-toggle btn-sm blue
      btn-sm padding-7px-20px-7px-20px-important
      border-radius-4px-important"
    type="button"
    data-toggle="dropdown">
    <span>
      Chọn thao tác
    </span>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">

    <li>
      <a href="javascript:;">
        <span class="mt-icon">
          <i class="fa fa-pencil-square-o"></i>
          Thêm/Xóa chức năng
        </span>
      </a>
    </li>
    <li>
      <a
        href="javascript:;"
        ng-click="deleteMember(group_selecting)">
        <span class="mt-icon">
          <i class="fa fa-user-times"></i>
          Xóa khỏi nhóm
        </span>
      </a>
    </li>
  </ul>
</div>
