<div class="row row-flex">
  <div class="col-xs-5 col-md-4 bold">
    Tên thành viên:&nbsp;
  </div>
  <div class="col-xs-5 col-md-8 toast-message">
    {{group_selecting.name}}
  </div>
  <div class="col-xs-5 col-md-4 bold">
    Chức vụ trong nhóm:&nbsp;
  </div>
  <div class="col-xs-5 col-md-8 toast-message">
    {{group_selecting.regency}}
  </div>

  <div class="col-xs-5 col-md-4 bold">
    Giới tính:&nbsp;
  </div>
  <div class="col-xs-5 col-md-8 toast-message">
    {{group_selecting.gender}}
  </div>

  <div class="col-xs-5 col-md-4 bold">
    Ngày sinh:&nbsp;
  </div>
  <div class="col-xs-5 col-md-8 toast-message">
    {{group_selecting.birthdate}}
  </div>

  <div class="col-xs-5 col-md-4 bold">
    Điện thoại:&nbsp;
  </div>
  <div class="col-xs-5 col-md-8 toast-message">
    {{group_selecting.phone}}
  </div>

  <div class="col-xs-5 col-md-4 bold">
    Email:&nbsp;
  </div>
  <div class="col-xs-5 col-md-8 toast-message">
    {{group_selecting.email}}
  </div>

  <div class="col-xs-5 col-md-4 bold">
    Ngày tham gia:&nbsp;
  </div>
  <div class="col-xs-5 col-md-8 toast-message">
    {{group_selecting.participate_date}}
  </div>
</div>
</div>
