<div class="page-sidebar navbar-collapse collapse">
  <ul
    class="page-sidebar-menu"
    data-keep-expanded="false"
    data-auto-scroll="true"
    data-slide-speed="200">

    <li
      ng-class="{'active': state.current.name == 'main.user_index'}"
      ng-show="enableFunction('user_index')"
      class="nav-item">
      <a
        ui-sref-if="enableFunction('user_index')"
        ui-sref-val="main.user_index"
        ui-sref-opts="{reload: false, inherit: false}">
        <i class="icon-users"></i>
        <span class="title">Quản lý tài khoản</span>
      </a>
    </li>

    <li
      ng-class="{'active': state.current.name.match('main.ticket_dashboard.list')
        && state.params.dashboard_label == 'own_request_dashboard'}"
      ng-show="enableFunction('own_request_dashboard')"
      class="start nav-item">
      <a
        ui-sref-if="enableFunction('own_request_dashboard')"
        ui-sref-val="main.ticket_dashboard.list({dashboard_label: 'own_request_dashboard', status: 'all'})"
        ui-sref-opts="{reload: false, inherit: false}">
        <i class="icon-note"></i>
        <span class="title">Việc tôi yêu cầu</span>
      </a>
    </li>

    <li
      ng-class="{'active': state.current.name.match('main.ticket_dashboard.list')
        && state.params.dashboard_label == 'related_request_dashboard'}"
      ng-show="enableFunction('related_request_dashboard')"
      class="nav-item">
      <a
        ui-sref-if="enableFunction('related_request_dashboard')"
        ui-sref-val="main.ticket_dashboard.list({dashboard_label: 'related_request_dashboard', status: 'all'})"
        ui-sref-opts="{reload: false, inherit: false}">
        <i class="icon-note"></i>
        <span class="title">Công việc liên quan</span>
      </a>
    </li>
  </ul>
</div>
