<form ng-submit="changePasswordForm.$valid && changePassword()" name="changePasswordForm" novalidate>
  <div class="modal-header">
    <button ng-click="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <p class="text-bold margin-0">Thay đổi mật khẩu</p>
  </div>
  <div class="modal-body">
     <div class="form-group">
      <label class="required">Mật khẩu cũ</label>
      <input ng-model="oldPassword" name="oldPassword" type="password"
             class="form-control input-sm" minlength="8" required>
      <div ng-messages="changePasswordForm.oldPassword.$error"
           ng-show="changePasswordForm.$submitted" class="text-error">
        <div ng-message="required">{{common_text.validate.require}}</div>
        <div ng-message="minlength">{{common_text.validate.password}}</div>
      </div>
    </div>
     <div class="form-group">
      <label class="required">Mật khẩu mới</label>
      <input ng-model="newPassword" name="newPassword" type="password"
             class="form-control input-sm" minlength="8" required>
      <div ng-messages="changePasswordForm.newPassword.$error"
           ng-show="changePasswordForm.$submitted" class="text-error">
        <div ng-message="required">{{common_text.validate.require}}</div>
        <div ng-message="minlength">{{common_text.validate.password}}</div>
      </div>
    </div>
     <div class="form-group">
      <label class="required">Xác nhận mật khẩu mới</label>
      <input ng-model="newPasswordConfirm" name="newPasswordConfirm" type="password"
             equal-to="newPassword" class="form-control input-sm" minlength="8" required>
      <div ng-messages="changePasswordForm.newPasswordConfirm.$error"
           ng-show="changePasswordForm.$submitted" class="text-error">
        <div ng-message="required">{{common_text.validate.require}}</div>
        <div ng-message="minlength">{{common_text.validate.password}}</div>
        <div ng-message="equalTo">{{common_text.validate.password_confirm}}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input class="btn btn-default btn-sm" type="submit" value="Lưu">
  </div>
</form>
