<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Xin chào <%= @user.name %></h1>
    <p>
      	Chào mừng bạn đến với CALLLOG_UET. 
       Bạn có thông báo mới trong tài khoản <%= @user.username %>
      	Bạn hãy truy cập vào ứng dụng tại: http://localhost:3000
    </p>
  </body>
</html>