<form
  class="background-color-rgba-192-255-193-0_25
    padding-15px border-radius-10px"
  ng-submit="form.$valid && createTicket()"
  name="form"
  novalidate>
  <div class="row row-flex">
    <div class="form-group col-xs-12 col-md-6 col-sm-6 col-lg-6">
      <label class="required">Tiêu đề</label>
      <input
        type="text"
        name="name"
        ng-model="new_ticket.title"
        class="form-control border-radius-4px-important"
        required>
      <div
        ng-messages="form.name.$error"
        ng-show="form.$submitted"
        class="text-error">
        <div ng-message="required">
          {{common_text.validate.require}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
      <label>Thời hạn thực hiện</label>
      <input
        class="form-control border-radius-4px-important
          background-color-fff-important"
        type="text"
        name="daterange"
        id="ticket-period-of-work"
        readonly/>
    </div>

    <div
      ng-show="enableFunction('assign_ticket_to_working_group')"
      class="col-xs-12 col-lg-6 col-sm-6 col-md-6"
      class="form-group">
      <label class="required">Gán cho nhóm</label>
      <div class="m-grid-col-xs-12">
        <div
          class="input-icon right ticket-clear-group">
          <i
            class="fa fa-close"
            title="Xóa"
            tooltip
            ng-click="clearSelectedGroup()">
          </i>
          <input
            type="text"
            class="form-control border-radius-4px-important
              background-color-fff-important"
            ng-model="new_ticket.group_name"
            disabled>
        </div>
        <div id="tree_groups" class="padding-top-15px ticket-tree-groups">
        </div>
      </div>
    </div>

    <div
      class="col-xs-12 col-lg-6 col-sm-6 col-md-6"
      class="form-group">
      <label class="required">Mức độ ưu tiên</label>
      <ui-select
        class="background-color-fff-important height-34px
          border-radius-4-0-0-4"
        name="priority"
        ng-model="new_ticket.priority"
        theme="select2"
        append-to-body="true">
        <ui-select-match
          class="border-radius-4-0-0-4 height-34px font-size-14px"
          placeholder="Mức độ ưu tiên"
          allow-clear="true">
          {{$select.selected.title}}
        </ui-select-match>
        <ui-select-choices repeat="priority.value as priority in priority_levels">
          <span ng-bind-html="priority.title"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div
      ng-show="enableFunction('assign_ticket_to_user_in_own_group')"
      class="col-xs-12 col-lg-6 col-sm-6 col-md-6">
      <label>Gán cho nhân viên(Cần chọn nhóm giao việc trước)</label>
      <div
        class="margin-20px-0-20px-0 input-group"
        ng-repeat="assigned_user in new_ticket.assigned_users track by $index">
        <ui-select
          class="background-color-fff-important height-34px
            border-radius-4-0-0-4"
          name="assigned_user-{{$index}}"
          ng-model="new_ticket.assigned_users[$index]"
          theme="select2"
          append-to-body="true">
          <ui-select-match
            class="border-radius-4-0-0-4 height-34px font-size-14px"
            placeholder="Mã số nhân viên/Tên/Số điện thoại "
            allow-clear="true">
            {{$select.selected.code + ' / ' + $select.selected.name + ' / ' + $select.selected.phone}}
          </ui-select-match>
          <ui-select-choices repeat="user.id as user in assigned_user_preload"
            refresh="loadEmployees($select.search)" refresh-delay="400">
            <span ng-bind-html="user.code + ' / ' + user.name + ' / ' + user.phone"></span>
          </ui-select-choices>
        </ui-select>

        <span class="input-group-addon padding-0px"
          ng-click="deleteAssignedUser($index)">
          <button class="btn default date-reset height-32px" type="button">
            <i class="fa fa-times"></i>
          </button>
        </span>
      </div>
      <button
        class="btn green margin-20px-0-20px-0
          padding-7px-20px-7px-20px-important
          border-radius-4px-important"
        ng-click="addAssignedUser()">
        Thêm nhân viên
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div
      ng-class="{
        'col-xs-12 col-lg-12 col-sm-12 col-md-12': !enableFunction('assign_ticket_to_user_in_own_group'),
        'col-xs-12 col-lg-6 col-sm-6 col-md-6': enableFunction('assign_ticket_to_user_in_own_group')}">
      <label>Người liên quan</label>
      <div
        class="margin-20px-0-20px-0 input-group"
        ng-repeat="related_user in new_ticket.related_users track by $index">
        <ui-select
          class="background-color-fff-important height-34px
            border-radius-4-0-0-4"
          ng-model="new_ticket.related_users[$index]"
          name="related_user-{{$index}}"
          theme="select2"
          append-to-body="true">
          <ui-select-match
            class="border-radius-4-0-0-4 height-34px font-size-14px"
            placeholder="Mã số nhân viên/Tên/Số điện thoại "
            allow-clear="true">
            {{$select.selected.code + ' / ' + $select.selected.name + ' / ' + $select.selected.phone}}
          </ui-select-match>
          <ui-select-choices repeat="user.id as user in related_user_preload"
            refresh="loadRelatedUser($select.search)" refresh-delay="400">
            <span ng-bind-html="user.code + ' / ' + user.name + ' / ' + user.phone"></span>
          </ui-select-choices>
        </ui-select>

        <span class="input-group-addon padding-0px"
          ng-click="deleteRelatedUser($index)">
          <button class="btn default date-reset height-32px" type="button">
            <i class="fa fa-times"></i>
          </button>
        </span>
      </div>
      <button
        class="btn green margin-20px-0-20px-0
          padding-7px-20px-7px-20px-important
          border-radius-4px-important"
        ng-click="addRelatedUser()">
        Thêm người liên quan
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div class="form-group col-xs-12">
      <label class="required">Nội dung</label>
      <textarea
        name="body"
        ng-model="new_ticket.content"
        class="form-control border-radius-4px-important"
        rows="4"
        required>
      </textarea>
      <div
        ng-messages="form.body.$error"
        ng-show="form.$submitted"
        class="text-error">
        <div ng-message="required">{{common_text.validate.require}}</div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <label>Tệp đính kèm</label>
      <div>
        <label class="btn btn-default btn-sm border-radius-4px-important">
          Thêm <input class="hidden" type="file" file-upload data-multiple="true"/>
        </label>
      </div>
      <div ng-repeat="file in $files">
        {{file.name | fileName}}
        <a
          href="#"
          ng-click="$files.splice($index, 1)"
          class="text-red"
          title="Xóa">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <input
    class="btn blue btn-sm padding-7px-20px-7px-20px-important
      border-radius-4px-important"
    type="submit"
    value="Lưu">
</form>
<!-- </div> -->
