<div ng-show="ticket">
  <div class="row row-flex padding-top-30px">
    <div
      ng-class="{
        'col-xs-12 col-lg-2 col-md-2 col-sm-2': disabledItem({disabled_labels: []}),
        'col-xs-12 col-lg-10 col-md-10 col-sm-10': !disabledItem({disabled_labels: []})
      }"
      class="padding-bottom-15px">
      <div class="caption-subject font-blue-madison
        bold uppercase inline">
        Chi tiết công việc&nbsp;
      </div>
    </div>

    <div class="col-xs-12 col-lg-8 col-md-8 col-sm-8">
      <div
        ng-show="disabledItem({disabled_labels: []})"
        class="">
        <div
          ng-show="disabledItem({disabled_labels: []})"
          class="dropdown ticket-select-status">
          <button
            class="btn dropdown-toggle btn-sm
              ticket-background-{{ticket.status}}
              btn-sm padding-7px-20px-7px-20px-important
              border-radius-4px-important"
            type="button"
            data-toggle="dropdown">
            <span>
              {{stat_box[ticket.status].name}}
            </span>
            <span class="caret"></span>
          </button>

          <ul
            ng-show="disabledItem({disabled_labels: []})"
            class="dropdown-menu">

            <li ng-repeat="avaiable_status in
              edit_ticket_status[ticket.status].available_status
              track by $index">
              <a
              href="javascript:;"
              ng-click="ticket.status = avaiable_status.label">
                {{avaiable_status.name}}
              </a>
            </li>
          </ul>
        </div>

        <span
          class="btn-sm padding-0px
            ticket-border-color-{{ticket.status}}
            border-radius-4px"
          class="ticket-background-{{ticket.status}}">
          <button
            class="btn default date-reset height-32px
              ticket-background-{{ticket.status}}
              ticket-border-color-{{ticket.status}}
              color-fff border-radius-4px"
            type="button"
            ng-click="ticket.status = oldTicket.status">
            <i class="fa fa-refresh"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-lg-2 col-md-2 col-sm-2 text-center">
      <div
        ng-show="disabledItem({disabled_labels: []})"
        class="btn blue btn-sm padding-7px-20px-7px-20px-important
          border-radius-4px-important"
        ng-click="toggleEditTicketTemplate()">
        <i class="fa fa-plus"></i>
        <span>Sửa công việc</span>
      </div>
    </div>
  </div>

  <div
    ng-show="disabledItem({disabled_labels: []})"
    ng-controller="EditTicketController"
    id="edit-ticket"
    class="collapse padding-30px"
    aria-expanded="false"
    ng-include="'templates/tickets/edit_without_modal'">
  </div>

  <div class="row row-flex">
    <div class="col-xs-12">
      <h2>#{{ticket.id}}- {{ticket.title}}</h2>
    </div>
  </div>

  <div ng-include="'templates/ticket/ticket_info'">
  </div>

  <div ng-include="'templates/ticket/ticket_comments'">
  </div>

  <div ng-include="'templates/ticket/ticket_new_comment'">
  </div>
</div>
