<div
  ng-show="enableFunction(comment_function_label)"
  class="row row-flex padding-top-15px">
  <div class="form-group col-xs-10 col-xs-offset-1">
    <textarea
      rows="2"
      class="form-control border-radius-4px margin-top-15px"
      placeholder="Viết phản hồi..."
      ng-model="new_comment.content"
      name="body">
    </textarea>

    <div class="text-error" ng-show="error.content">
      <div>Không được để trống</div>
    </div>
  </div>

  <div class="form-group col-xs-10 col-xs-offset-1">
    <label>Tệp đính kèm</label>
    <div>
      <label
        class="btn btn-default btn-sm
          border-radius-4px-important">
        Thêm <input
          class="hidden"
          type="file"
          model="new_comment.attachments"
          file-upload-model
          data-multiple="true"/>
      </label>
      <input
        type="button"
        value="Gửi phản hồi"
        class="btn blue btn-sm padding-7px-20px-7px-20px-important
          border-radius-4px-important pull-right"
        ng-click="createComment()">
    </div>
    <div ng-repeat="file in new_comment.attachments">
      {{file.name | fileName}}
      <a
        href="#"
        ng-click="new_comment.attachments.splice($index, 1)"
        class="text-red"
        title="Xóa">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
